.profile-header {
  display: flex;
  height: 160px;
  margin-bottom: 50px;
}

.profile-photo {
  margin: auto 3% auto 10%;
  height: 140px;
}

.profile-photo img {
  height: 140px;
}

.profile-info {
  width: 50%;
}

.profile-info h2 {
  margin-top: 40px;
  text-align: left;
  font-size: 1.5em;
}

.profile-chips {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
