.collection-preview {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.collection-preview:hover {
  cursor: pointer;
  opacity: 0.5;
}

.collection-preview img {
  vertical-align: top;
  height: 160px;
  max-width: 235px;
  object-fit: cover;
  object-position: center;
}
