.profile-collection-preview {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  height: 300px;
  margin-bottom: 30px;
  border: 1px solid black;  
}

.profile-collection-preview div {
  width: 47%;
  margin: auto;
  height: 265px;
  border: 1px solid black;
}

.profile-collection-preview-description {
  text-align: left;
}

.reverse {
  flex-direction: row-reverse;
}