/* Header */
.Header {
  height: 100px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 50px;
}
.Header p {
  font-size: 2em;
}
/* Header */


/* Profile */
.Profile {
  margin: auto;
  width: 80%;
  text-align: center;
}

.profile-header {
  height: 300px;
  margin-bottom: 50px;
}

.profile-cover {
  height: 200px;
  border: 1px solid black;
}

.profile-info {
  height: 100px;
  border: 1px solid black;
}

.profile-info img {
  float: left;
  width: 100px;
  height: 100px;
}

.profile-info p {
  float: left;
  font-size: 1.5em;
}
/* Profile */

/* Collections */
.collection {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  height: 300px;
  margin-bottom: 30px;
  border: 1px solid black;  
}

.collection div {
  width: 47%;
  margin: auto;
  height: 90%;
  border: 1px solid black;
}
/* Collections */

/* Footer */
.Footer {
  height: 200px;
  text-align: center;
  border: 1px solid black;
  margin-top: 50px;
}

.Footer p {
  font-size: 2em;
}
/* Footer */