.profile-collection-preview {
  border: 1px solid #6D8EAD;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 86%;
  height: 322px;
  margin-bottom: 50px;
}

.shorter-wrapper {
  height: 162px;
}
