.profile-collection {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  height: 300px;
  margin-bottom: 30px;
  border: 1px solid black;  
}

.profile-collection div {
  width: 47%;
  margin: auto;
  height: 265px;
  border: 1px solid black;
}

.profile-collection-photos-preview {
  display: flex;
  flex-wrap: wrap;
}

.profile-collection-photos-preview:hover {
  cursor: pointer;
}

.profile-collection-photos-preview img {
  width: 33%;
  height: 132.5px;
}

.profile-collection-description {
  text-align: left;
}

.reverse {
  flex-direction: row-reverse;
}