.profile-collection-preview {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  height: 350px;
  margin-bottom: 50px;
}

.profile-collection-items-preview {
  width: 480px;
  margin: auto 0;
  height: 320px;
  background-color: #ffffff;
}

.profile-collection-items-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.profile-collection-items-wrapper:hover {
  background-color: #ffffff;
  cursor: pointer;
  opacity: 0.5;
}

.profile-collection-items-wrapper > div {
  overflow: hidden;
  width: 160px;
  height: 160px;
}

.profile-collection-preview-description {
  width: 450px;
  margin: auto 0;
  overflow-y: auto;
  height: 320px;
  text-align: justify;
  padding: 0 15px;
  background-color: #ffffff;
}

.profile-collection-preview-description h3 {
  cursor: pointer;
  width: fit-content;
}

.reverse {
  flex-direction: row-reverse;
}

.shorter-wrapper {
  height: 190px;
}

.shorter-info {
  height: 160px;
}
