.profile-collection-preview {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  height: 360px;
  margin-bottom: 50px;
}

.profile-collection-items-preview {
  width: 49%;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  height: 335px;
  justify-content: center;
  background-color: #ffffff;
}

.profile-collection-items-preview:hover {
  cursor: pointer;
}

.profile-collection-items-preview > div {
  overflow: hidden;
  width: 163px;
}

.profile-collection-preview-description {
  width: 46%;
  margin: auto 0;
  overflow-y: auto;
  height: 335px;
  text-align: justify;
  padding: 0 15px;
  background-color: #ffffff;
}

.profile-collection-preview-description h3 {
  cursor: pointer;
  width: fit-content;
}

.reverse {
  flex-direction: row-reverse;
}
