.collection-item-photo-wrapper {
  height: 230px;
}

.collection-item-photo-wrapper:hover {
  cursor: pointer;
}

.collection-item-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
