.item-display {
  margin: auto;
  width: 80%;
  text-align: center;
}

.item-photo img {
  width: 460px;
}

.item-info {
  margin: 0 auto;
}

.item-info-list {
  list-style-type: none;
  padding: 0;
}
