.item-display {
  display: flex;
  margin: auto;
  width: 80%;
  text-align: center;
  border: 1px solid black;
}

.item-photo img {
  width: 460px;
  height: 460px;
}

.item-info-list {
  list-style-type: none;
  padding: 0;
}