.profile-items-preview {
  width: 50%;
  height: inherit;
  background-color: #ffffff;
}

.profile-items-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
}

.profile-items-preview-wrapper:hover {
  opacity: 0.5;
}

.profile-items-preview-photo-wrapper {
  overflow: hidden;
  width: 33.333%;
  height: 50%;
}

.profile-items-preview-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shorter-wrapper .profile-items-preview-photo-wrapper {
  height: 100%;
}
