.item-display {
  margin: auto;
  padding: 1px;
  width: 85%;
  text-align: center;
}

.item-name {
  margin: 2em 0;
}

.item-photo {
  width: 48%;
  margin: 0 auto;
}

.item-photo img {
  width: 100%;
}

.item-info {
  width: 48%;
  margin: 0 auto;
}

.item-info-list {
  text-align: left;
}
