header {
  background-color: #6D8EAD;
}

header>div {
  width: 80%;
  height: 100px;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

.header-logo {
  width: 170px;
}
