.collection {
  margin: auto;
  width: 80%;
  max-width: 1440px;
  text-align: center;
}

.collection-items {
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}

.collection-title {
  cursor: pointer;
  margin: 0 auto 20px;
  width: fit-content;
}
