/* Header */
.header {
  height: 100px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 50px;
}
/* Header */

/* Footer */
.footer {
  height: 200px;
  text-align: center;
  border: 1px solid black;
  margin-top: 50px;
}

.footer p {
  font-size: 2em;
}
/* Footer */
