/* Header */
.header {
  height: 100px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid black;
  color: #ffffff;
  background-color: #546e7a;
}
/* Header */

/* Footer */
.footer {
  height: 200px;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
  color: #ffffff;
  background-color: #546e7a;  
}

.footer p {
  font-size: 2em;
}
/* Footer */
