/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  height: 100px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid black;
  color: #ffffff;
  background-color: #757575;
}

.header h1 {
  margin: "auto 0"; 
}
/* Header */

/* Footer */
.footer {
  height: 200px;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
  color: #ffffff;
  background-color: #757575;  
}

.footer p {
  font-size: 2em;
}
/* Footer */
